body{
    background-color: orange;
}
.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"]{
    margin-left: 7px;
    margin-bottom: 10px;
    height: 30px;
    width: 240px;
    border-radius: 5px;
}

table tr td.copy{
    padding-right: 5px;
    color: white;
    font-size: 10px;
}

button{
    height: 50px;
    width: 50px;
    margin: 5px;
}